@font-face {
  font-family: "iconfont"; /* Project id 4579106 */
  src: url('iconfont.woff2?t=1717848496270') format('woff2'),
       url('iconfont.woff?t=1717848496270') format('woff'),
       url('iconfont.ttf?t=1717848496270') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daiban:before {
  content: "\e60a";
}

.icon-bumen:before {
  content: "\e60b";
}

.icon-erweima:before {
  content: "\e60c";
}

.icon-dianhuabu:before {
  content: "\e60d";
}

.icon-gongzuotai:before {
  content: "\e60e";
}

.icon-geren:before {
  content: "\e60f";
}

.icon-rili:before {
  content: "\e610";
}

.icon-mima:before {
  content: "\e611";
}

.icon-huiyi:before {
  content: "\e612";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-qianbao:before {
  content: "\e614";
}

.icon-saoyisao:before {
  content: "\e615";
}

.icon-tianjia:before {
  content: "\e616";
}

.icon-shoujilianxiren:before {
  content: "\e617";
}

.icon-zuzhijiagou:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e619";
}

.icon-zhuti:before {
  content: "\e61a";
}

.icon-dianhua:before {
  content: "\e61b";
}

.icon-xiaoxi:before {
  content: "\e61c";
}

.icon-shezhi:before {
  content: "\e61d";
}

